<div class="container mt-5 form-trip">
  <%= simple_form_for [ @trip ] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :destination %>
    <%= f.input :budget_min %>
    <%= f.input :budget_max %>
    <%= f.input :departure_date %>
    <%= f.input :return_date %>
    <%= f.input :capacity %>
    <%= f.submit "Submit Trip", class: "btn btn-primary" %>
  <% end %>
  <hr>
  <%= link_to 'Back', trips_path %>
</div>
