<div class="container my-5">
  <div class="form p-5 m-3 bg-white">
    <h2 class="text-center mb-5">Create a new trip</h2>
    <%= simple_form_for [ @trip ] do |f| %>
      <%= f.input :title %>
      <%= f.input :description, as: :text %>
      <%= f.input :destination %>
      <div class="row">
        <div class="col">
          <%= f.input :budget_min %>
        </div>
        <div class="col">
          <%= f.input :budget_max %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.input :departure_date, as: :string %>
        </div>
        <div class="col">
          <%= f.input :return_date, as: :string %>
        </div>
      </div>
      <%= f.input :capacity %>
      <%= f.input :photo, as: :file, required: true %>
      <%= f.submit "Submit Trip", class: "btn-travel mt-3" %>
    <% end %>
    <hr>
    <%= link_to 'Back', trips_path, class: "btn-travel-secondary mt-2" %>
  </div>
</div>
