<div class="container">
  <div class="form p-5 m-3 bg-white">
    <h2>Create a new trip</h2>
    <%= simple_form_for [ @trip ] do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :destination %>
      <%= f.input :budget_min %>
      <%= f.input :budget_max %>
      <%= f.input :departure_date %>
      <%= f.input :return_date %>
      <%= f.input :capacity %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit Trip", class: "btn btn-primary" %>
    <% end %>
    <hr>
    <%= link_to 'Back', trips_path %>
  </div>
</div>
