<<<<<<< HEAD
<div class="container mt-5 text-center">
  <div class ="image">
    <div class = "card-top d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('paris.jpg')%>); background-size: cover ; height: 320px;">
      <h2 class="text-center p-2 title"><%=@trip.title%></h2>
    <%#= cl_image_tag @trip.photo.key, height: 300, width: 400, crop: :fill%>
    </div>
  </div>

  <div class="row my-5 text-center">
    <h2 class="w-100"><strong>Tell me more about the trip</strong></h2>
  </div>

  <div class="row p-4 description">
=======
<div class="container mt-5">
  <div class ="image">
    <div class = "card-top d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('paris.jpg')%>); background-size: cover ; height: 200px;">
      <h2 class="text-center p-2 color:white"><%=@trip.title%></h2>
    <%#= cl_image_tag @trip.photo.key, height: 300, width: 400, crop: :fill%>
    </div>
  </div>
  <div class="row p-1 destination">
    <h2><%= @trip.destination %></h2>
  </div>
  <div class="row p-1 budget ">
    <h3>Between $<%= @trip.budget_min %> - $<%= @trip.budget_max %></h3>
  </div>
  <div class="row p-1 description">
>>>>>>> master
    <%= @trip.description %>
  </div>

  <div class="option my-3 ">
    <div class="tag ">Hiking</div>
    <div class="tag mx-3">Adventure</div>
    <div class="tag ">English speaking</div>

  </div>

  <div class="spec">
    <h2>Specs</h2>

    <div class="icons">
      <div class= "dollars">
      <%= image_tag "dollars.png", class: "icon" %>
      <p>Between $<%= @trip.budget_min %> - $<%= @trip.budget_max %></p>
      </div>
      <div class= "avion mx-3">
        <%= image_tag "airplane.png", class: "icon mx-3" %>
        <p>Departure date: <%= @trip.departure_date %></p>
        <p>Return date: <%= @trip.return_date %></p>
      </div>
      <div class= "capacité">
        <%= image_tag "capacity.png", class: "icon" %>
        <p>Capacity max: <%= @trip.capacity %></p>
      </div>
    </div>
  </div>
  <h2><strong>Meet your dream team</strong></h2>

  <div class="peoples">
    <div class="flex">
      <div class="people row">
        <div class="photo col-md-3 p-0">
          <!-- <img src="fakepeople1.jpg" alt=""> -->
          <%= image_tag "fakepeople3.jpg", style: "width:100%; height: 100%; padding:0px;"%>
        </div>
        <div class="peopledescription col-md-9 text-left">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, proin diam lectus vestibulum aenean ultrices non velit accumsan. Dictum egestas donec ipsum, ut donec et. Imperdiet orci, sed sed molestie. Ac egestas lorem ullamcorper.</p>
        </div>
      </div>
      <div class="people row">
        <div class="photo col-md-3 p-0">
          <!-- <img src="fakepeople2.jpg"> -->
          <%= image_tag "fakepeople3.jpg", style: "width:100%; height: 100%; padding:0px;" %>
        </div>
        <div class="peopledescription col-md-9 text-left">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, proin diam lectus vestibulum aenean ultrices non velit accumsan. Dictum egestas donec ipsum, ut donec et. Imperdiet orci, sed sed molestie. Ac egestas lorem ullamcorper.</p>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="people row" >
        <div class="photo col-md-3 p-0">
          <!-- <img_src="fakepeople3.jpg" > -->
          <%= image_tag "fakepeople3.jpg", style: "width:100%; height: 100%; padding:0px;" %>
        </div>
        <div class="peopledescription col-md-9 text-left">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, proin diam lectus vestibulum aenean ultrices non velit accumsan. Dictum egestas donec ipsum, ut donec et. Imperdiet orci, sed sed molestie. Ac egestas lorem ullamcorper.</p>
        </div>
      </div>
      <div class="people row">
        <div class="photo col-md-3 p-0">
          <!-- <img src="fakepeople4.jpg" > -->
          <%= image_tag "fakepeople3.jpg", style: "width:100%; height: 100%; padding:0px;" %>
        </div>
        <div class="peopledescription col-md-9 text-left">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, proin diam lectus vestibulum aenean ultrices non velit accumsan. Dictum egestas donec ipsum, ut donec et. Imperdiet orci, sed sed molestie. Ac egestas lorem ullamcorper.</p>
        </div>
      </div>
    </div>   `
  </div>
  <a class="btn btn-travel" href="#">Apply now!</a>
</div>
